---
layout: default
---
{% if page.codepen_slug %}
<div id="post-page">
  <div class="codepen-embed">
    <p data-height="600" data-theme-id="25948" data-slug-hash="{{page.codepen_slug}}" data-default-tab="result" data-user="n33kos" data-embed-version="2" class="codepen"></p>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
  </div>
{% else %}
<div id="post-page" class="margin-top-25">
{% endif %}
  <div class="content margin-top-35">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="post">
            <h5 class="post-title margin-bottom-5">{{ page.title }}</h5>
            <p class="post-meta margin-0">{{ page.date | date: "%b %-d, %Y" }}</p>
            <hr>
            <div class="post-content margin-top-5">
              {{ content }}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>