#still-index-page {
    .page-title {
    	text-align: center;
    	margin-bottom: 20px;
	    @include breakpoint(sm) {
	        text-align: left;
	    }
    }
	.entry{
		text-align: center;
		margin-bottom: 25px;
		.thumb {
			img {
				width: 110%;
			}
		}
		.summary {
			position: absolute;
			bottom: 0;
			background: rgba(255,255,255,0.75);
			width: 95%;
		}
	}
}