//------------Standard Elements-----------------
body{
  font-family: 'Merriweather', serif;
  font-size: $font-base-size;
  background-color: $offwhite;
  color: $grey;
}

/**
* Set `margin-bottom` to maintain vertical rhythm
*/
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: $font-base-size*3.5;
  line-height: $font-base-size*3.5;
}

h2 {
  font-size: $font-base-size*2;
  line-height: $font-base-size*2;
}

h3 {
  font-size: $font-base-size*1.75;
  line-height: $font-base-size*1.75;
}

h4 {
  font-size: $font-base-size*1.5;
  line-height: $font-base-size*1.5;
}

h5 {
  font-size: $font-base-size*1.25;
  line-height: $font-base-size*1.25;
}

h6 {
  font-size: $font-base-size;
  line-height: $font-base-size;
}

a {
  font-family: 'Josefin Sans', sans-serif;
}

a, a:visited, a:focus, a:active {
  color: $teal-dark;
}

a:hover, a.active {
  color: $teal;
}

img {
  max-width: 100%;
  height:auto;
  vertical-align: middle;
}

p {
  letter-spacing: 0.4px;
  line-height: 2;
  margin: 30px 0;
}

//------------Muss around with Bootstrap--------------
.container {
  padding-left: $page-gutter;
  padding-right: $page-gutter;

  iframe {
    max-width: 100%;
  }
}
