#blog-index-page {
	.blog-entry {
		color: black;
		display: flex;
		padding: 15px 0;
		text-decoration: none;

		.date {
			display: inline-block;
			flex-shrink: 0;
			font-size: 12px;
			position: relative;
			text-transform: uppercase;

			&:after {
				background-color: black;
				content: '';
				display: block;
				height: 100%;
				left: calc(50% - 3px);
				position: absolute;
				top: 20px;
				width: 6px;
			}

		}

		.content {
			display: inline-block;
			padding-left: 35px;
			font-family: 'Merriweather', serif;
		}

		.title {
			font-size: 20px;
			letter-spacing: 1px;
			line-height: 1;
			margin-bottom: 15px;
		}

		&:hover .title{
			text-decoration: underline;
		}

		.excerpt {
			font-family: 'Merriweather', serif;
		}

		@for $i from 1 through 4 {
			&:nth-child(#{$i}n) {
				.date:after {
					background: nth($colors, $i);
					background: linear-gradient(to bottom, nth($colors, $i) 0%,  nth($colors, $i+1) 100%);
				}

				.date {
					color: nth($colors, $i);
				}
			}
		}
	}
}

.post {
	a {
		color: $salmon;
		font-size: 18px;
		line-height: 1;
		margin: 0 3px;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	ol,
	ul {
		li {
			margin-bottom: 10px;
		}
	}

	code {
		background-color: #333;
		color: white;
		display: block;
		font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
		line-height: 1.5;
		white-space: pre;
		white-space: pre-wrap;
	}



	.bold {
		font-weight: 900;
	}

	pre.inline {
		padding: 2px 10px;
	}

	.inline {
		display: inline;
	}

	.overline {
		text-decoration: overline;
	}

	.block {
		display: block;
	}

	.center {
		margin: 0 auto;
	}
}

.post-navigation {
	display: block;
	justify-content: space-between;
	padding-top: 40px;

	a {
		&:hover {
			text-decoration: underline;
		}
	}

	.prev,
	.next {
		display: inline-block;
	}

	.prev {
		float: left;
	}

	.next {
		float: right;
	}
}
