#post-page {
    .codepen-embed {
      margin-left: -$page-gutter;
      position: relative;
      width: calc(100% + #{$page-gutter * 2});
    }

    .blog-example-iframe {
      border-radius: 4px;
      border: 1px solid black;
      height: 400px;
      width: calc(100% + #{$page-gutter * 2});
    }
}
