#motion-index-page {
  .page-title {
    text-align: center;
    margin-bottom: 20px;

    @include breakpoint(sm) {
      text-align: left;
    }
  }

  .vid{
    min-height: 0;

    @include breakpoint(sm) {
      min-height: 300px;
    }
  }

  .entry{
    text-align: center;
    margin-bottom: 25px;

    .summary {
      min-height: 100px;
    }
  }
}
